@CHARSET "UTF-8";
.base{
	position: relative;
	width:1000px;
	border: 1px solid #e6e6e6;
	left:50%;
	height: 300px;
	margin-left: -500px;}
	.base_left{
	position: absolute;
	width:70px;
	height:300px;
	text-align: center;
	cursor: pointer;}
	.jiantou_left{
	position: absolute;
	padding:0px;
	top: 50%;
	margin-top: -40px;
	left:9px;
	width:50px;
	height:80px;
	display: block;
    background: url("slider/slider.png") no-repeat 0 0;
	background-position: 4px -82px;}
	.base_right{
	position: absolute;
	width:68px;
	height:300px;
	text-align: center;
	right:0px;
	cursor: pointer;}
	.jiantou_right{
	position: absolute;
	left:0px;
	top: 50%;
	margin-top: -40px;
	left:9px;
	width:50px;
	height:80px;
	display: block;
	background: url("slider/slider.png") no-repeat 0 0;
	background-position: 5px 5px;}
	.content{  
	height: 300px; 
	width: 860px;
	position: absolute;
	border:1px solid #e6e6e6;
	left:70px;
	background: url(photos_file/3.jpg) no-repeat;
	background-position: 50%;background-size: contain;}
	.toggle{
	position: absolute;
	top: 300px;
	width: 100%;
	height: 30px;
	background: #fafafa;
	line-height: 30px;
	border-top: 1px solid #e6e6e6;}
	.toggle .list{
	font-size: 14px;
	color: #666;
	width: 98px;
	cursor: pointer;
	background: white;}
	
	.toggle .list span{
	display: block;
	position: absolute;
	left: 66px;
	top: 3px;
	width: 19px;
	height: 19px;
	background: url("slider/list.png") no-repeat 0 0;
	background-position: -16px -58px;}
	.bottle{
	position: absolute;
	width:100%;
	top:300px;
	border:1px solid #e6e6e6;
	overflow: hidden;
	height:0px;}
	.bottle ul{
	margin: 0px;
	position: absolute;
	height:100px;
	padding:0px;
	display:flex;
	width:10000px;}
	#list_shot{
	height:300px;
	width:880px;
	position: absolute;
	left: 59px;
	overflow: hidden;}
	.listimg{
	width:50px;
    height: 50px;
    position:relative;
    overflow: hidden;  
   }
	.bottle .l{
	display: block;
	position: absolute;
	left: 13px;
	top: 41px;
	width: 19px;
	height: 19px;
	background: url("slider/slider.png") no-repeat 0 0;
	background-position: -22px -205px;
	cursor: pointer;}
	.bottle .r{
	display: block;
	position: absolute;
	eft: 969px;
	top: 41px;
	width: 19px;
	height: 19px;
	background: url("slider/slider.png") no-repeat 0 0;
	background-position: 6px -205px;cursor: pointer;}
	.bottle ul li{
	text-decoration: none;
	float: left;
	height:100px;
	margin: 0px 5px;
	position: relative;left:0px;transition: left 0.5s;border:1px solid #e6e6e6;cursor: pointer;}
	.bottle ul li:hover {border:1px solid red;}